
/*
   general
   --------------- */

* { padding: 0; margin: 0; }
* { font-family: sans-serif, arial, "lucida console" }
body { font-family: verdana, arial, sans-serif; font-size:120%; margin:1em 2em; background:white;}
a:link { color: black; }
a:visited { color: black; }
a:hover { color: red; }
p { white-space: nowrap }
p code { font-family: monospace }
li { list-style-type: none; line-height: 1em;}
div#clearinghouse {clear: both;}

img.winningpic { float: left; }
img.winningpic:hover { height: 150px; }
span.stats { color: green; margin: 5px; }
p.disclaimer { color: green; font-size:90%; }
/*
   predictions
   --------------- */

li { margin: 1em 0; }
li.predictions { padding: .2em 0; }

p.person_heading { color: white; } /* match background... there for space and not seen */
p.team1_heading, p.team2_heading  { float: left; font-size: 1.5em; line-height: .8em; width: 13%; }

p.person_heading, p.person { float: left; width: 60%; font-size: 1.3em; overflow: hidden; padding: .2em 0; }
p.team1  { float: left; font-size: 1em; width: 13%; }
p.team2  { float: left; font-size: 1em; width: 13%; }

p.team1_heading, p.team2_heading, p.team1, p.team2 { width: 15%; text-align: center;}
p.delta { text-align: left; color: red; font-size: 1.5em; margin: 0 0 0 1em; }

p.team1, p.team2, p.delta { font-family: "Comic Sans MS", cursive; }


p.person a { text-decoration: none; }
span.name { font-size: 1.2em; color: red; }

li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
div#content { width: 80%; margin: 0 0 0 3em; }

h1.inset, h2.inset, h3.inset { text-indent:-.5em; }

ul#stats_text { float: left; margin: 0 3em 0 0; }

/* .small-copy-sans {
    color:#000000;
    font-size:.8em;
    font-weight:normal;
    text-decoration:none;
}
*/

div#odds { background:white; font-size:.8em; }

/* ---------------------------------------------------------------------- */

